.v-pager {
  position: relative;
  width: 100vw;
  height: 100vh;
  > button {
    position: fixed;
    top: 50%;
    z-index: 1;
    &.left {
      left: 24px;
    }
    &.right {
      right: 24px;
    }
  }
  > .header {
    display: flex;
    justify-content: center;
    z-index: 1;
    gap: 12px;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    @import "./pager/button.scss";
  }
  > .container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    @import "./pager/view.scss";
  }
}
