.v-technology {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 18px;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  transition: 0.24s;
  text-align: center;
  > img {
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }
  &.animate {
    cursor: pointer;
    &:hover, &.enabled {
      &.laravel {
        border-color: red;
        color: red;
      }
      &.nuxt {
        border-color: rgb(0 220 130);
        color: rgb(0 220 130);
      }
      &.node {
        border-color: #83cd29;
        color: #83cd29;
      }
      &.flutter {
        border-color: #00b5f8;
        color: #00b5f8;
      }
    }
  }
}
