@mixin scroll_vertical($width: 4px, $overflow-y: scroll) {
  overflow-y: $overflow-y;
  &::-webkit-scrollbar {
    background-color: #ddd;
    width: $width;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $teal;
  }
}